<div class='country-wrapper'><img
    class='country-flag-icon'
    src={{this.flags.svg}}
    alt='Flag of {{this.name}}'
    width='45'
  /><h2 class='country-title'>{{this.name}}</h2>
</div>
<ul class='cantry-info-list'>
  <li class='cantry-info-item'><span class='cantry-info-item-text'>Capital:
    </span>{{this.capital}}</li>
  <li class='cantry-info-item'><span class='cantry-info-item-text'>Population:
    </span>{{this.population}}</li>
  <li class='cantry-info-item'><span class='cantry-info-item-text'>Languages:
    </span>{{this.languages}}</li>
</ul>